* {
    box-sizing: border-box;
}

.contact-form {
    background: url(../img/background-pic.png) no-repeat;
    width: 100%;
    background-position: 50% 50%;
    background-size: cover;
    margin: 0 auto;
    font-family: "Raleway", sans-serif;
}

.section-title, .section-title + p {
    text-align: center;
}

.section-title {
    font-size: 90px;
    font-weight: bold;
    padding-top: 101px;
}

.section-title + p {
    padding-top: 48px;
    padding-bottom: 50px;
}

.form {
    padding-left: 165px;
    padding-right: 170px;
}

form {
    display: flex;
    flex-direction: column;
}

form * {
    width: 500px;
    height: 50px;
    background: rgb(0, 196, 196, 50%);
    color: white;
    font-size: 15px;
}

.form input {
    padding-left: 20px;
    margin-bottom: 15px;
    border: 0;
}

.form textarea {
    width: 500px;
    height: 250px;
    resize: none;
    margin-bottom: 115px;
    border: none;
}

input:active, textarea:active {
    background-color: #00c4c4;
    cursor: pointer;
}

textarea:focus, input:focus {
    outline: none;
    border-left: 5px solid #355b82;
    opacity: 100;
}

.contact-block {
    display: flex;
    flex-direction: row;
}

.contact-info .title {
    font-size: 17px;
    font-weight: bold;
    padding-bottom: 5px;
}

.contact-info .value {
    padding-bottom: 10px;
}

.value a {
    text-decoration: none;
    color: black;
}


footer {
    background: #262626;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 90px;
    color: #b9b9b9;
    padding-top: 35px;
}

.logo {
    font-family: "Pacifico", cursive;
    font-size: 25px;
}


.author span {
    font-weight: bold;
    color: #f12b55;
}

